body {
  box-sizing: border-box;
  font-size: 100%;
  margin-left: 5em;
  margin-right: 5em;
  width: auto;
}

div {
  clear: both;
  text-align: center;
  margin: 0;
  padding: 0;
}

div.title {
  display: inline;
  width: 50%;
  margin: 0;
  padding: 0;
}

div.space-line {
  background-color: #999999;
  height: 2px;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

div.summary {
  max-width: 100%;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%
}

nav {
  text-align: center;
  font-size: 1.5em;
  font-family: "Avenir", sans-serif;
  color: #8702d1;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;
}

ul.challenge {
  text-align: left;
}

li {
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  font-family: "Avenir", sans-serif;
  text-align: center;
  max-width: 100%;
}

li.challenge {
  font-size: 19px;
  text-align: left;
  display: block;
}

li.contact {
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-size: 5em;
  color: #d10280;
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h2 {
  text-align: left;
  font-size: 2em;
  font-family: "Avenir", sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
}

h2.a {
  color: #ff9900;
}

h2.b {
  color: #129cb7;
}

h2.c {
  color: #8702d1;
}

h2.d {
  color: #d10280;
}

p {
  color: black;
  font-family: "Avenir", sans-serif;
  font-size: 19px;
  text-align: justify;
  max-width: 100%;
}

p.copyright {
  color: #d10280;
  font-size: 12px;
}

img {
    width: 100%;
    height: auto;
    max-width: 1000px;
}

img.contact {
  height:50px;
  width:50px;
}

img.skill-box {
  height: 25em;
  width: 50em;
}

img.tick {
  height: 1em;
  width: 1em;
}

/* unvisited link */
a:link {
    color: #8702d1;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #8702d1;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #d10280;
    text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  font-family: "Avenir", sans-serif;
  font-size: 19px;
  text-align: justify;
  table-layout: fixed;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  display: table;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
  max-width: 600px;
  min-width: 120px;
  text-align: center;
  padding: 10px;
  background-color: #129cb7;
  color: white;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: normal;
  max-width: 600px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(197, 240, 250);
}

@media only screen and (max-width: 700px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
  }
   h1 {
      font-size: 2em;
   }
   li {
     display: block;
   }
   div.summary {
     margin-left: 10%;
     margin-right: 10%
   }
   h2 {
     text-align: center;
     font-size: 1.25em;
   }
   img.portfolio-box {
     max-width: 250px;;
     max-height: 150px;
   }

   li.skill-box {
     max-width: 100%;
   }

  img.skill-box {
    width: 100%;
    height: inherit;
    }

    img.contact {
      height:30px;
      width:30px;
    }

   li.contact {
     display: inline;
     padding-left: 0.5em;
     padding-right: 0.5em;
   }

   p {
     font-size: 0.75em;
     text-align: center;
   }

   table {
     font-size: 0.75em;
   }
}

/* This is specific to tablets */
@media only screen and (max-width: 800px) {
  div.summary {
    margin-left: 10%;
    margin-right: 10%
  }

  img.skill-box {
    max-width: 100%;
    max-height: 300px;
  }
}
